# Name: Chang Liu

In [1]:
import numpy as np
import pandas as pd
import random as r
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("titanic.csv")

In [3]:
df = df.drop(["Name"], axis=1)

In [4]:
df = pd.get_dummies(df, drop_first = True)

In [5]:
df = df.rename(columns={"Sex_male": "Sex"})

In [6]:
df

,Survived,Pclass,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,Sex
0,0,3,22.0,1,0,7.2500,1
1,1,1,38.0,1,0,71.2833,0
2,1,3,26.0,0,0,7.9250,0
3,1,1,35.0,1,0,53.1000,0
4,0,3,35.0,0,0,8.0500,1
...,...,...,...,...,...,...,...
882,0,2,27.0,0,0,13.0000,1
883,1,1,19.0,0,0,30.0000,0
884,0,3,7.0,1,2,23.4500,0
885,1,1,26.0,0,0,30.0000,1
886,0,3,32.0,0,0,7.7500,1

### Exhaustive Model

In [40]:
X_train, X_test, y_train, y_test = train_test_split(df[['Pclass','Age','Siblings/Spouses Aboard','Parents/Children Aboard','Fare','Sex']], df['Survived'], test_size=0.2, random_state=62)

# random_state = 44, random seed will generate the same sequences from the random generater.

In [41]:
X_train, y_train

(     Pclass   Age  Siblings/Spouses Aboard  Parents/Children Aboard      Fare  \
 284       3  30.0                        0                        0    9.5000
 275       2  21.0                        0                        0    0.0000
 351       3  25.0                        1                        0   17.8000
 312       2  43.0                        1                        1   26.2500
 116       2  29.0                        1                        0   21.0000
 ..      ...   ...                      ...                      ...       ...
 267       1  35.0                        0                        0  135.6333
 115       3  70.5                        0                        0    7.7500
 593       2  31.0                        0                        0   33.0000
 24        3   8.0                        3                        1   21.0750
 530       3  24.0                        0                        2   22.3583

      Sex
 284    1
 275    1
 351    1
 312    1
 116    1
 ..   ...
 267    0
 115    1
 593    0
 24     0
 530    0

 [709 rows x 6 columns],
 284    1
 275    0
 351    0
 312    0
 116    0
       ..
 267    1
 115    0
 593    1
 24     0
 530    1
 Name: Survived, Length: 709, dtype: int64)

In [42]:
X_test, y_test

(     Pclass   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare  \
 204       3   2.0                        0                        1  10.4625
 831       1  39.0                        1                        1  83.1583
 291       3  24.0                        0                        0   8.8500
 78        3  30.0                        0                        0  12.4750
 472       1  40.0                        0                        0  52.0000
 ..      ...   ...                      ...                      ...      ...
 46        3  27.0                        0                        0   7.7500
 390       3  28.0                        2                        0   7.9250
 494       3  55.0                        0                        0  15.1000
 62        3   4.0                        3                        2  27.9000
 522       3  40.5                        0                        0   7.7500

      Sex
 204    0
 831    0
 291    0
 78     0
 472    1
 ..   ...
 46     0
 390    1
 494    1
 62     1
 522    1

 [178 rows x 6 columns],
 204    0
 831    1
 291    0
 78     1
 472    0
       ..
 46     1
 390    0
 494    0
 62     0
 522    0
 Name: Survived, Length: 178, dtype: int64)

In [43]:
from sklearn.linear_model import LogisticRegression #https://www.youtube.com/watch?v=VK6v9Ure8Lk

In [44]:
import statsmodels.api as sm

In [45]:
# Linear Reqression: Ordinary Least Squares, Weighted Least Squares, Generalized Least Squares
# Logistic Regression: Maximum Likelihood
# https://www.youtube.com/watch?v=yIYKR4sgzI8
# logit, probit,

In [46]:
logit_mod = sm.Logit(y_train, X_train)

In [47]:
logit_res = logit_mod.fit()

Optimization terminated successfully.
         Current function value: 0.498947
         Iterations 6

In [48]:
print(logit_res.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  709
Model:                          Logit   Df Residuals:                      703
Method:                           MLE   Df Model:                            5
Date:                Sat, 20 Mar 2021   Pseudo R-squ.:                  0.2543
Time:                        01:10:07   Log-Likelihood:                -353.75
converged:                       True   LL-Null:                       -474.36
Covariance Type:            nonrobust   LLR p-value:                 4.215e-50
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
Pclass                      0.1302      0.077      1.697      0.090      -0.020       0.281
Age                         0.0040      0.006      0.668      0.504      -0.008       0.016
Siblings/Spouses Aboard    -0.2555      0.108     -2.362      0.018      -0.468      -0.043
Parents/Children Aboard    -0.0829      0.127     -0.651      0.515      -0.332       0.167
Fare                        0.0178      0.003      5.289      0.000       0.011       0.024
Sex                        -2.2580      0.197    -11.455      0.000      -2.644      -1.872
===========================================================================================

In [49]:
# A p-value is used in hypothesis testing to help you support or reject
# the null hypothesis. The Smaller the p-value, the stronger the evidence
# that you should reject the null hypothesis.
# A p-value of 0.0254 is 2.54%. This means there is a 2.54% chance your
# results could be random (i.e. happened by chance). On the other hand, 
# a large p-value of 0.9(90%) means your results have a 90% probability of
# being completely random and not due to anything in your experiment. Therefore,
# the smaller the p-value, the more important ("significant") your results.

In [50]:
# If a f-test shows a large p-value (0.244531) you would not reject the null.
# So you could compare your f-value with your f-critical value. If the
# f-critical value is smaller than the f-value, you should reject the null
# hypothesis.

In [51]:
# p-value vs alpha level
# You get an alpha level by subtracting your confidence level from 100%. 
# For example, if you want to be 98 percent confident in your research, 
# the alpha level would be 2% (100% – 98%)
#  Compare that value to your chosen alpha level. For example, let’s say you 
# chose an alpha level of 5% (0.05). 
# If the results from the test give you:
# 
#   A small p (≤ 0.05), reject the null hypothesis. This is strong evidence 
#   that the null hypothesis is invalid.
#   A large p (> 0.05) means the alternate hypothesis is weak, so you do not 
#   reject the null.

In [52]:
# What if I don't have an alpha level
# 
#   If p > .10 → “not significant”
#   If p ≤ .10 → “marginally significant”
#   If p ≤ .05 → “significant”
#   If p ≤ .01 → “highly significant.”

In [53]:
LogReg = LogisticRegression()

In [54]:
LogReg.fit(X_train, y_train)

LogisticRegression()

In [55]:
LogReg.score(X_test, y_test)

0.797752808988764

In [56]:
# Accuracy Score : https://www.youtube.com/watch?v=VK6v9Ure8Lk

### Selective Model

In [57]:
X_train, X_test, y_train, y_test = train_test_split(df[['Siblings/Spouses Aboard','Fare','Sex']], df['Survived'], test_size=0.2, random_state=44)

In [58]:
X_train, y_train

(     Siblings/Spouses Aboard      Fare  Sex
 432                        1  120.0000    0
 236                        0   26.2500    0
 729                        0   13.0000    1
 629                        0   30.5000    1
 83                         0   10.5000    0
 ..                       ...       ...  ...
 571                        0    8.0500    1
 173                        0   30.6958    1
 753                        0   11.5000    1
 419                        0    7.8750    1
 788                        8   69.5500    0

 [709 rows x 3 columns],
 432    1
 236    1
 729    0
 629    1
 83     1
       ..
 571    0
 173    0
 753    0
 419    0
 788    0
 Name: Survived, Length: 709, dtype: int64)

In [59]:
logit_mod = sm.Logit(y_train, X_train)

In [60]:
logit_res = logit_mod.fit()

Optimization terminated successfully.
         Current function value: 0.495226
         Iterations 6

In [61]:
print(logit_res.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  709
Model:                          Logit   Df Residuals:                      706
Method:                           MLE   Df Model:                            2
Date:                Sat, 20 Mar 2021   Pseudo R-squ.:                  0.2605
Time:                        01:10:13   Log-Likelihood:                -351.12
converged:                       True   LL-Null:                       -474.80
Covariance Type:            nonrobust   LLR p-value:                 1.920e-54
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
Siblings/Spouses Aboard    -0.2553      0.088     -2.898      0.004      -0.428      -0.083
Fare                        0.0222      0.003      7.170      0.000       0.016       0.028
Sex                        -1.9640      0.147    -13.321      0.000      -2.253      -1.675
===========================================================================================

In [62]:
LogReg = LogisticRegression()

In [63]:
LogReg.fit(X_train, y_train)

LogisticRegression()

In [64]:
LogReg.score(X_test, y_test)

0.7696629213483146

As we can see the accuracy score of Exhaustive Model is more than Selective Model.